/* univasel selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* default css */
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.container {
    width: 1120px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.text-start {
    text-align: left;
}

img {}

a {
    text-decoration: none;
}

/* header css start */
.header {
    background: #ffffff;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.headers {}


.logo {
    width: 30%;
}

.logo img {

    width: 56px;

    float: left;
}

.logo span {
    color: black;
    font-size: 27px;
    line-height: 53px;
    margin-left: 15px;
    font-weight: 500;
    transition: .5s;
}
.logo span:hover{
    color:#a9acc3 ;
}

.menu {
    width: 60%;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-left: -4px;
}

.menu ul li a {
    display: block;
    color: black;
    padding: 0px 17px;
    font-size: 19px;
    line-height: 59px;
    transition: .3s;
}

.menu ul li:hover > a{
    color: #7284d4;
}
.menu ul li{
    position: relative;
}

.menu ul li ul{
position: absolute;
top: 100%;
left: 0;
background:#ffffff ;
width: 250px;
visibility: hidden;
opacity: 0;
transform: scale(0);
transform-origin: top center;
transition: .4s;

}
.menu ul li ul li{
    display: block;
}
.menu ul li ul li a{
    border-bottom: 1px solid #dbdbdb;
}
.menu ul li ul li a:hover{}
/* hover part */
.menu ul li:hover > ul{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
/* demo blocks */
.menu ul li ul li{
    position: relative;
}
.menu ul li ul li ul{
    position: absolute;
  
}

.button {
    width: 10%;
}
.button .btn:hover{
    box-shadow: 1px 1px 8px 1px #8999e7;
    background: #6278df;
    color: white;
}
.btn {
    color: #6278df;
    border: 1px solid #6278df;
    padding: 12px 23px;
    line-height: 60px;
    font-weight: 900;
    border-radius: 11px;
    font-size: 14px;
    transition: .4s;
    font-weight: 600;
    border-radius: 6px;
}
/* header css end */
/* banner section start */

.banner{
    background: url(img/asset\ 7.jpeg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.banner h3{
    color: white;
    text-align: center;
    font-size: 29px;
    margin-bottom: 22px;
    font-weight: 500;
}
.banner h1{
    color: #ffffff;
    text-align: center;
    font-size: 53px;
    font-weight: 800;
    margin-bottom: 19px;
}
.banner .same-btn {
    color: #7d7d7d;
    background: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 0px 31px;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    font-weight: 600;
    transition: .4s;
    font-size: 20px;
}
.banner .same-btn:hover{
    background: #6278df;
    color: white;
}

/* banner section end */
/* /watch section stat */
.watch{
    background: #f7f9ff;
    padding: 58px 0;
}
.watch-right{
    width: 48%;
}
.watch-left{
    width: 48%;
}
.watch-right h2{
    font-size: 47px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #1e0000;
}
.watch-right p{
    /* color: #bcb7bb; */
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
}
/* /watch section end */
/* about section start */
.about{
    text-align: center;
    padding: 40px 0;
}
.about h2{
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 20px;
}
.about p{
    color: #b5afad;
    margin-top: 12px;
    font-size: 20px;
}

/* about section end */
/* service section start */
.service-section{}
.service{}
.service-item{
    width: 31%;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
    margin-right: 2%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding-bottom: 37px;
}
.service-item .s-icon{
    float: left;
    width: 50px;
    font-size: 41px;
    color: #6278df;
    display: block;
    padding-top: 10px;
    padding-bottom: 79px;
    margin-left: 19px;
    margin-right: 23px;
}
.service-item .s-content{}
.service-item .s-content h2{
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
}
.service-item .s-content p{
    padding-right: 42px;
    /* color: #8c7876; */
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
}


/* service section end */
/* star section started*/
.pricing-section{
    background:#f7f9ff;
    padding: 30px 0;
}
.same{
    text-align: center;
    margin-bottom: 30px;
}
.same h2{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 34px;
}
.same p{
    color: #afb6cd;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 82px;
}

.pricing-tables{}
.pricing-item {
    transition: .5s;
    width: 31.3%;
    margin-right: 2%;
    background: white;
    box-sizing: border-box;
    padding: 0px 0px 55px 0px;
    box-shadow: 8.5px 29.33px 25px 0 rgb(64 87 191 / 10%);
    transition: .4s;
}
.pricing-item:hover{
    box-shadow: 8.5px 31.33px 39px 0 rgb(64 87 191 / 10%);
}
.p-heading{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    transition: .5s;
}
.pricing-item:hover .p-heading{
    background:#6278df ;
    color: white;
}
.pricing-item:hover .p-button .btn{
    background:#6278df;
    color: white;
}
.p-heading h4{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
}
.p-heading h5{
    font-size: 19px;
    margin-bottom: 17px;
    font-weight: 500;
}
.p-heading h3 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 800;
}
.p-heading p{
  
margin-bottom: 10px;
  
font-weight: 300;
  
font-size: 17px;
  
line-height: 27px;
}

.p-content{
    padding: 4px;
}
.p-content ul {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 33px;
    padding-top: 20px;
}
.p-content ul li {
    font-size: 19px;
    /* color: #626261; */
    line-height: 39px;
    font-weight: 300;
}
.p-content ul li:before{
  
    
}
.p-button{

}
.p-button .btn {
    box-shadow: 1px 1px 9px 1px #d5bebe;
    border: none;
    padding: 15px 67px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    transition: .5s;
    margin-top: 26px;
}
.pricing-item .p-button .btn:hover{
    background: black;
    color: white;
}
.month {
    font-size: 20px;
}
/* star section ended*/

/* team  */
.team{
    padding: 78px 0 20px 0;
}
.team h2{
    margin-bottom: 78px;
    font-size: 39px;
    font-weight: 500;
}
.team-img {
    width: 22%;
    margin-right: 3%;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px 5px rgba(98, 125, 223,.3);
    padding-bottom: 16px;
}
.team-img:nth-child(3n+n){
    margin-right: 0;
}
.team-img img{
    width: 100%;
}
.team-img h3 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.team-img p {
    margin-left: 8px;
    color: #a8a09e;
}
/* newsletter */
.newsletter{
    text-align: center;
    background: #f7f9ff;
    padding: 40px 50px;
}
.newsletter p{
    /* color: #a9acc3; */
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 300;
}
.newsletter h3{
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 29px;
}

.form-content{}
.form-content .name{
    background: #ffffff;
    padding: 16px 93px 16px 16px;
    box-shadow: 1px 1px 3px 3px #e6d9d9;
    /* border: none; */
    margin-right: 19px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 200;
    outline: none;
    transition: .4s;
    border: 1px solid transparent;
}
.form-content .name:focus{
    border: 1px solid #6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
}

.form-content .sub{
    padding: 16px 63px;
    border-radius: 5px;
    border: none;
    background: #6278df;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    border: 1px solid transparent;
}
.form-content .sub:hover{
    background: #ffffff;
    color: #6278df;
    border: 1px solid #6278df;
    box-shadow: 2px 2px 4px 10px rbga(98, 125, 223,.8);
}
/* what section */
.what-section{
    padding: 30px 0;
}
.what-parent{}

.what-left{
    width: 48%;
}
.what-left h2{
    font-size: 35px;
    font-weight: 500;
    padding-top: 57px;
}

.what-right{
    width: 48%;
}
.what-right p{
    /* color: #baa2a2; */
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
}
/* report section */
.report{
    margin-top: 43px;
}
.report-left{
    width: 48%;
}
.report-right{
    width: 48%;
}
.report-left .report-img{
    float: left;
    margin-right: 22px;
}
.report-left .report-img img{
    width: 245px;
}
.report-left .report-content{
    box-shadow: 1px 1px 5px 2px #e6d3d3;
    padding: 1px 16px 0px 2px;
}
.report-left .report-content h2{
    margin-top: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}
.report-left .report-content p{
    /* color: #aa9797; */
    line-height: 27px;
    font-weight: 300;
}

.report-right .report-img{
    float: left;
}
.report-right .report-img img{
    width: 245px;
    margin-right: 28px;
}
.report-right .report-content{
    box-shadow: 1px 1px 5px 2px #e6d3d3;
    padding: 1px 16px 22px 2px;
}
.report-right .report-content h2{
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 15px;
}
.report-right .report-content p{
    /* color: #ac9292; */
    line-height: 21px;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
}
/* testomonial */
.testomonial{
    background: #f7f9ff;
    padding: 50px 0;
}
.testomonial p{
    text-align: center;
    /* color: #828c97; */
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}
.testomonial h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.testomonial-items{
}
.t-item{
    width: 29.3%;
    margin-right: 4%;
}
.t-content{
    background: #ffffff;
    padding: 41px 30px;
    box-sizing: border-box;
    line-height: 22px;
    box-shadow: 1px 1px 5px 2px #e6d3d3;
    position: relative;
    margin-bottom: 30px;
    transition: .4s;
}
.t-content:hover {
    box-shadow: 1px 1px 18px 4px #e6d3d3;
}
.t-content::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 25.5px 0 25.5px;
    border-color: #fefeff transparent transparent transparent;
}
.t-content p{
    position: relative;
}
.t-content p::before {
    content: '\f10d';
    font-family: FontAwesome;
    position: absolute;
    left: -4px;
    top: -5px;
    font-size: 52px;
    opacity: .15;
}
.t-user-img{width: 216px;margin: auto;}
.t-user-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 17px;
}
.t-user-bio{
}
.t-user-bio h4{font-size: 23px;font-weight: 400;padding-top: 16px;padding-bottom: 7px;}
.t-user-bio span{margin-top: 0px;display: inline-block;font-size: 17px;color: #828c97;}
/* contact section start */
.contact-section{
    padding: 30px 0;
}
.google-map{
    width: 48%;
}
.contact-form{
    width: 48%;
}
.contact-form h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-form p{
    margin-bottom: 35px;
    font-weight: 500;
    color: #828c97;
}

.email{
    padding: 20px 302px 19px 10px;
    margin-bottom: 28px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px 1px #dbcece;
    border: 1px solid transparent;
    
    transition: .4s;
    font-size: 17px;
    font-weight: 300;
}
.email:focus{
    border: 1px solid #6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
    outline: none;
}
.name{
    padding: 20px 19px 19px 10px;
    margin-right: 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px #dbcece;
    border: 1px solid transparent;
    outline: none;
    transition: .4s;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0px;
}
.name:focus{
    border: 1px solid #6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
}
.number{
    padding: 20px 72px 18px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px #dbcece;
    border: none;
    border: 1px solid transparent;
    outline: none;
    transition: .4s;
    font-size: 14px;
    font-weight: 300;
}
.number:focus{
    border: 1px solid #6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
}
.textarea{
    
margin-top: 30px;
    
padding: 15px 188px 0 24px;
    
border-radius: 5px;
    
box-shadow: 0px 0px 6px 1px #dbcece;
    
margin-bottom: 28px;
    
outline: none;
    
transition: .4s;
    
border: 1px solid transparent;
    
font-weight: 300;
    
font-size: 17px;
}
.textarea:focus{
    border: 1px solid #6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
}
.send{
    background: #6278df;
    display: inline-block;
    width: 527px;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .4s;
    padding: 10px 0;
    font-weight: 600;
}
.send:hover{
    border: 1px solid #6278df;
    background: #ffffff;
    color:#6278df;
    box-shadow: 2px 2px 16px -2px #6278df;
}
.footer{}
.footer h5 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
}
/*  */
.nil{
    
color: #6278df;
    
font-size: 32px;
    
margin-right: 5px;
}
.footer span {
    font-weight: 300;
}
.footer span:hover {
    font-weight: 400;
}